*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0;
}
h2 {
    font-weight: lighter;
    font-size: 50px;
    margin-bottom: 10px;
}
h3 {
    font-weight: lighter;
    font-size: 24px;
    margin-bottom: 10px;
}
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 10px;
}
p span {
    font-weight: 800;
    font-size: 30px;
}
footer {
    position: absolute;
    font-size: 10px;
    font-family: sans-serif;
    color: #c7c7c7;
    padding: 1.5em;
}
.columns,
footer {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}
.columns{
    max-width: 800px;
    margin: 0 auto;
}
.left,
.right {
    /* border: 1px solid  #ccc;*/
    top: 0;
    padding: .1em;
    font-family: 'Playfair Display', serif;
    text-align: center;
    position: relative;
}
#pharma,
#no-pharma {
    text-align: left;
}
footer {
    font-family: sans-serif;
    position: relative;
    margin: 20px auto;
    color: #999;
    font-size: 11px;
    max-width: 600px;
    left: -85px;
}
footer span {
    color: #b5adad;
    font-weight: 800;
    color: #838383;
}
#hint {
    background-image: url(../img/hint.png);
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
    width: 88px;
    height: 88px;
    border-radius: 100%;
    position: absolute;
    bottom: calc(50% - 64px);
    right: calc(50% - 24px);
    background-color: white;
    padding: 10px;
    box-sizing: content-box;
    opacity: 0;
    border: 1px solid black;
}
#medicines {
    margin: 1em 2em 0em 2em;
    position: relative;
}
.detail{
    margin-top: 15px;
}
.right .detail h2{
    font-size: 21px;
}
.continent {
    position: relative;
    width: 100%;
    display: flex;
}
#america, #asia, #europe, #oceania {
    width: 25%;
    text-align: center;
    margin: 5px;
}
#colorKey{
    background-image: url(../img/colorKey.png);
    width: 216px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 51px;
    top: 40px;
    
}
#medicines_publ{display: none;}
/* MEDIA QUERIES */

@media screen and (min-width: 47.5em) {
    .left {
        width: 60%;
        height: auto;
        border-right: 1px dotted #000;
        text-align: left;
        padding: .1em 2em;
    }
    .right {
        margin-left: 60%;
        height: auto;
        position: absolute;
        top: 0;
        width: 40%;
        text-align: left;
        padding: 3.5em 2em;
    }
}
@media screen and (max-width:480px)
{
    h2 {font-size: 36px;text-align: left;}
    p {text-align: left;}
    #colorKey {right: 10px;top: 30px;}
}

/*   SWITCH    */
#selectors{width: 475px;}
.onoffswitch {
    float: right;
    position: relative;
    width: 140px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin: 6px 0px 0px 0px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #000000; border-radius: 0px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    color: white;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Public sector";
    padding-left: 39px;
    background-color: #000000;
    color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Private sector";
    padding-left: 39px;
    background-color: #FFFFFF;
    color: #000000;
    text-align: left;
}
.onoffswitch-switch {
    display: block; width: 11px; margin: 9.5px;
    background: #30B3BA;
    position: absolute; top: 0; bottom: 0;
    left: 5px;
    border: 2px solid #000000; border-radius: 0px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}